Bio==1.6.0
langchain==0.0.320
llama_index==0.8.48
numpy==1.26.1
openai==0.28.1
pandas==2.1.1
pinecone_client==2.2.4
python-dotenv==1.0.0
streamlit==1.27.2
streamlit_chat==0.1.1
tenacity==8.2.3
